﻿{% extends "layout.html" %}
{% block body %}
<h1>500</h1>
<p>Упс! Походу что-то у нас приключилось на сервере!</p>
<p>Но мы уже об этом знаем и быстро починим!</p>
<p><a href="{{ url_for('show_users') }}">Попробуйте зайти к нам чуть позже</a>
{% endblock %}