﻿{% extends "layout.html" %}
{% block body %}
<section>

{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ message }}
</div>
{% endfor %}

<div class="page-header">
	<h1 class="pull-left">Возраст людей</h1>
	<div class="pull-right">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadDataModal">Загрузить данные</button>
	</div>
	<div class="clearfix"></div>
</div>

<div class="modal fade" id="uploadDataModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" action="/upload" method="post" enctype="multipart/form-data">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="uploadDataModalLabel">Загрузка данных</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Файл</label>
					<input type="file" name="file" class="form-control">
					<p class="help-block">Допускается только текстовый формат с разделителем - точка с запятой. <br /><em>"Имя; Дата рождения (ДД.ММ.ГГГГ)"</em> на одну строку. Кодировка файла - UTF8.</p>
				</div>
				<div class="checkbox">
                    <input type="checkbox" name="drop_exists" value="1" id="dropExistsDataCheck"> <label for="dropExistsDataCheck" class="text-danger">Удалить существующие данные</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="submit" class="btn btn-primary">Загрузить</button>
			</div>
		</div>
		</form>
	</div>
</div>

<h4>Статистика</h4>
{% if stats %}
<table class="table table-bordered">
<thead>
	<tr>
		<th>Возраст</th>
		<th>Количество человек</th>
	</tr>
</thead>
<tbody>
    {% for row in stats %}
	<tr>
		<td>{{row.age}} {{ row.age|pluralize(['год','года','лет']) }}</th>
		<td>{{ row.cnt }}</th>
	</tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<p>Данные отсутствуют</p>
{% endif %}

<hr/>

<form class="form-inline" role="form" action="" id="searchForm">
	<div class="form-group">
		<label class="sr-only" for="searchUsername">Имя человека</label>
		<input type="text" class="form-control" id="searchUsername" size="50" maxlength="255" placeholder="Поиск по имени">
	</div>
	<button type="submit" class="btn btn-primary">Найти</button>
</form>

<div id="searchResults" style="min-height: 100px;"></div>
</section>
{% endblock %}


{% block postscripts %}
<script>
$(function() {
    $('#searchForm').submit(function(e) {
        var name = $('#searchUsername').val();
        
        if (name.length > 0) {
            $.get('/search', {'name': name}, function(data) {
                $('#searchResults').html(data);
            });
        }

        return false;
    });
});
</script>
{% endblock %}
