﻿<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тестовое задание</title>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style>
		.page-header {
			margin-top: 10px;
		}
		
		.page-header .btn {
			bottom: 15px;
			position: relative;
			top: 15px;
		}
	</style>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Главное меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Тестовое задание</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			{% for endpoint, caption in [
				('show_users', 'Возраст людей'),
				('show_parser', 'Парсер')
			] %}
			<li{% if endpoint == request.endpoint %} class=active{% endif %}>
				<a href={{ url_for(endpoint) }}>{{ caption }}</a></li>
			{% endfor %}
          </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="mailto:me@myexample.ru">Написать автору [kidig]</a></li>
		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	<div class="container">
	{% block body %}{% endblock %}
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {% block postscripts %}{% endblock %}
</body>
</html>
