﻿{% extends "layout.html" %}
{% block body %}
<h1>Парсер HTTP заголовков</h1>

<p>Введите немного "сырых" http-заголовков в поле и нажмите "Разобрать"...</p>
<form role="form" action="/parser" method="post" id="parserForm">
<div class="form-group">
	<textarea id="searchText" name="text" class="form-control" rows="3" placeholder="Host: myexample.ru\r\nConnection: keep-alive\r\n">{{ text }}</textarea>
</div>
<button type="submit" class="btn btn-primary">Разобрать</button>
</form>

<div id="searchResults"></div>


{% endblock %}

{% block postscripts %}
<script>
$(function() {
	$('#parserForm').submit(function(e) {
		var text = $('#searchText').val();
		
		$.post('/parser', { text: JSON.stringify(text)}, function(data) {
			 $('#searchResults').html(data);
		});
		
		return false;
	});
});
</script>
{% endblock %}
