﻿{% if (items) %}
<table class="table table-striped">
<thead>
	<tr>
		<th>Имя</th>
		<th>Значение</th>
	</tr>
</thead>
<tbody>
{% for name, value in items %}
<tr>
	<td>{{ name }}</td>
	<td>{{ value }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Нет данных</p>
{% endif %}
