{% if items %}
<ul class="list-group">
{% for item in items %}
<li class="list-group-item"><strong>{{ item.name }}</strong> [{{ item.birthday.strftime('%d.%m.%Y') }}] - {{item.age}} {{ item.age|pluralize(['год','года','лет']) }}</li>
{% endfor %}
</ul>
{% else %}
<p>Поиск не дал результатов</p>
{% endif %}
